body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    background-color: #1f2937;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25%;
    padding:  10px 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 15px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.intro {
    background-color: #1f2937;
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    padding: 60px 20px;
}

.welcome {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 400px;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.description {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.buttons {
    font-weight: bold;
    background-color: #3882f6;
    color: #e5e7eb;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: auto;
    padding: 5px;

}


.ourFace img {
    width: 400px;
    height: auto;
    border: 2px solid #3882f6;
    border-radius: 10px;
}

.details {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 60px 20px;
}

.mainText {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
}

.manyCards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  max-width: 200px;
  
}

.card img {
    width: 200px;
    height: 200px;
    border: 2px solid #3882f6;
    border-radius: 10px;
    object-fit: cover;
}

.argument {
    background-color: #e5e7eb;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    padding:70px 20px;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.author {
    text-align: right;
}

.invite {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    padding: 70px 20px;
}

.square {
    display: flex;
    gap: 55px;
    background-color: #3882f6;
    padding: 35px;
    border-radius: 10px;
}

.message {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.bigMessage {
    font-size: 18px;
    font-weight: bold;
    color: #e5e7eb;
}

.littleMessage {
    font-size: 16px;
    color: #e5e7eb;
}

.invite .square .buttons {
    border-width: 2px;
    border-style: solid;
    border-color: #e5e7eb;
}

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 20px;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
