body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  10px 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 15px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.intro {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.welcome {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 400px;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.description {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.buttons {
    font-weight: bold;
    background-color: #3882f6;
    color: #e5e7eb;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: auto;
    padding: 5px;

}

.ourFace {
    background-color: grey;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.mainText {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
}

.manyCards {
    display: flex;
    gap: 15px;
}

.card {
   max-width: 150px;
   text-align: center;
}

.argument {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    padding:70px;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.author {
    text-align: right;
}